@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import 'admin-lte/plugins/fontawesome-free/css/all.min.css';
@import 'admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';

@import 'react-toastify/dist/ReactToastify.min.css';

#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.main-header .navbar-nav .nav-item .nav-link {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Set text color to black for the custom navbar */
.navbar-ccccff {
  background-color: 	#97c2ff  !important;
  color: #ffffff !important;
}
.navbar-1E90FF {
  background-color: 	#1E90FF  !important;
  color: #ffffff !important;
}

/* Set text color to black for the custom sidebar */
.sidebar-dark-ccccff,
.sidebar-light-ccccff {
  background-color: 	#ccccff !important;
  color: #ffffff 
}

/* Change sidebar menu item hover color */
.sidebar-dark-ccccff .nav-sidebar .nav-link:hover,
.sidebar-light-ccccff .nav-sidebar .nav-link:hover {
  background-color: #00A36C !important;
  color: #ffffff !important;
}

/* Optional: Change active sidebar menu item background color */
.sidebar-dark-ccccff .nav-sidebar .nav-link.active,
.sidebar-light-ccccff .nav-sidebar .nav-link.active {
  background-color: #00A36C !important;
  color: #f7e6e6 !important;
}

.bg-custom {
  background-color: #b3b3ff;
}

/* Loader styles */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: 50px auto;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  animation: spinner 1.2s linear infinite;
}

/* Custom CSS to remove the sidebar gap */
.content-wrapper {
  margin-left: 0 !important;  /* Remove the left margin */
  width: 100% !important;      /* Ensure it takes the full width */
  transition: margin-left 0.3s ease-in-out;
}

.content {
  margin-left: 0 !important;  /* Reset margin if it was reserved for sidebar */
  padding: 15px;              /* Add some padding to content for spacing */
}
